@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-base-100;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-primary-content;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
}

::-webkit-scrollbar-corner {
    @apply bg-base-100;
}
